#header-filter{
    margin-top: 5px;
}
.text-parent{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    cursor: pointer;
    background-color: #ece7e7;
    border: 1px solid #08c;
    border-radius:10px;
    padding: 4px;
}

.stories-content{
    border: 1px solid;
    width: 60%;
    margin-left: 10px;
    border-radius: 26px;
}

.stories-content p{
    margin-left: 10px;
    margin-top: 5px;
}